html {
    scroll-behavior: smooth;
}
.container {
    width: 960px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #F1F1F1;
}
 nav {

    width: 100%;
    height: 50px;
    background-color: #4E4E4E;
    color: #FFFFFF;
 }
 .navigation {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: #F1F1F1;
}
nav .leftNav .companyName {
    display: flex;
    align-items: center;
}
nav .rightNav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
nav .rightNav .rightNavElement {
    display: flex;
    align-items: center;
}
nav .rightNav #contact {
    cursor: not-allowed;
}
#firstSection {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: #F1F1F1;
    background-image: url(south-tyrol-ge76ca14d3_1280.jpg);
    background-size: cover;
}
.shadow {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.hContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 50px;
    justify-content: space-between;
    z-index: 1;
}
#firstSection .mainTop {
    z-index: 1;
    font-size: 36px;
    color: #FFFFFF;
}
#firstSection .slogan {
    font-size: 18px;
    color: #FFFFFF;
}
.linkButton {
    width: 164px; 
    /*height: 40.74px;*/
    padding: 10px;
    line-height: 20px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
}
.linkButton:hover {
    background-color: #FFFFFF;
    color: black;
}
#aboutSection {
    width: 100vw;
    background-color: #F1F1F1;
    z-index: 1;
    padding-top: 51px;
}
.specialistTop {
    font-size: 36px;
    color: #152D41;
    margin-bottom: 113px;
    font-weight: 700;
}
.specialist {
    color: #000000;
}
.specialistText {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.specialist .specialistText .specialistName {
    font-weight: 700;
}
.photo {
    width: 197px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.specialist {
    z-index: 1;
}
.specialist:nth-of-type(odd) {
    display: flex;
    flex-direction: row;
    gap: 44px;
    padding-bottom: 104px;
}
.specialist:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    gap: 44px;
    padding-bottom: 104px;
}
#specialistFirst {
    background-image: url(pexels-andrea-piacquadio-3769021.jpg);
}
#specialistSecond {
    background-image: url(pexels-edmond-dantès-4347368.jpg);
}
#offerSection {
    background-color: #405D78;
}
.offerTop {
    font-size: 36px;
}
.serviceBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 63px;
}
.service {
    width: 198px;
    height: 193.78px;
    background-color: #F1F1F1;
    color: #000000;
    text-align: center;
}
.service:hover {
    transform: scale(1.05);
    transition-duration: 2s;
}
.serviceName {
    font-size: 24px;
}
.firstService::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 22px;
    aspect-ratio: 1 / 1;
    background-color: #E07A64;
    z-index: 5;
}
footer {
    width: 100vw;
    height: 50px;
    background-color: #4E4E4E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}
#footerText {
    font-family: 'Roboto'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 18px;
    color: #FFFFFF;
}