html {
    scroll-behavior: smooth;
}
.container {
    width: 960px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
 nav {
    width: 100vw;
    height: 50px;
    background-color: #4E4E4E;
 }
 nav .container .navigation {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: #F1F1F1;
}
nav .container .leftNav {
    font-weight: 700; 
}
nav .container .rightNav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #F1F1F1;
}
nav .container .rightNav #contact {
    cursor: not-allowed;
}
#firstSection {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: #F1F1F1;
    background-image: url(south-tyrol-ge76ca14d3_1280.jpg);
    background-size: cover;
}
#firstSection .shadow {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
#firstSection .container .hContainer {
    padding: 220px 0px 220px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    z-index: 1;
}
#firstSection .container .mainTop {
    width: 577px;
    z-index: 1;
    font-size: 36px;
    font-weight: 700;
}
#firstSection .container .linkButton {
    width: 164px; 
    padding: 10px;
    line-height: 20px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    text-align: center;
}
#firstSection .container .linkButton:hover {
    background-color: #FFFFFF;
    color: black;
    transition-duration: 1s;
}
#aboutSection {
    width: 100vw;
    background-color: #F1F1F1;
    z-index: 1;
}
#aboutSection .container .specialistTop {
    font-size: 36px;
    color: #152D41;
    padding: 104px 0px;
    font-weight: 700;
}
#aboutSection .container .specialist {
    color: #000000;
    padding-bottom: 104px;
}
#aboutSection .container .specialist .specialistText {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#aboutSection .container .specialist .specialistText .specialistName {
    font-weight: 700;
}
#aboutSection .container .specialist .photo {
    width: 197px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
#aboutSection .container .specialist:nth-of-type(odd) {
    display: flex;
    flex-direction: row;
    gap: 44px;
}
#aboutSection .container .specialist:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    gap: 44px;
}
#aboutSection .container #specialistFirst {
    background-image: url(pexels-andrea-piacquadio-3769021.jpg);
}
#aboutSection .container #specialistSecond {
    background-image: url(pexels-edmond-dantès-4347368.jpg);
}
#offerSection {
    width: 100vw;
    background-color: #405D78;
}
#offerSection .container .offerAll {
    padding-top: 104px;
    padding-bottom: 104px;
}
#offerSection .container .offerTop {
    font-size: 36px;
    padding-bottom: 104px;
    font-weight: 700;
}
#offerSection .container .serviceBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 63px;
    justify-content: center;
}
#offerSection .container .serviceBox .service {
    width: 198px;
    height: 193.78px;
    background-color: #F1F1F1;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#offerSection .container .serviceBox .service:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}
#offerSection .container .serviceBox .service .serviceName {
    font-size: 24px;
}
.firstService::before {
    content: "";
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 22px;
    aspect-ratio: 1 / 1;
    background-color: #E07A64;
    z-index: 5;
}
footer {
    width: 100vw;
    height: 50px;
    background-color: #4E4E4E;
    z-index: 5;
}
.footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#footerText {
    font-weight: 700; 
}
svg {
    width: 31px;
    fill: #FFFFFF;
    padding-left: 10px;
}